.menu-item {
  &:hover {
    background-color: rgb(240, 245, 250);
  }
  &.active {
    border-right-color: #4299e1;
    border-right-width: 4px;
  }
}

.content-list {
  &--grid {
    @apply min-h-0;
  }
  &--list {
    min-height: 0rem;
  }
}

.media-file {
  z-index: 2;
  &__preview {
    height: 162px;
    & > img {
      height: 160px;
      object-fit: contain;
      border-radius: 2px 2px 0px 0px;
      width: 100%;
    }
  }
}
