@responsive {
  .fixed {
    &--center {
      top: 50%;
      transform: translate(0%, -50%);
    }
  }
}

#about-us {
  strong {
    @apply text-red;
  }
}

.philosophy {
  &__content {
    @apply text-white;
    @apply uppercase;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    white-space: break-spaces;

    h1 {
      font-weight: 400 !important;
      margin: 0;
    }

    h3, h2, h4 {
      margin-top: 6rem;
      font-weight: 400 !important;
    }
  }
}