@responsive {
  .fixed {
    &--center {
      top: 50%;
      transform: translate(0%, -50%);
    }
  }
}

#about-us {
  strong {
    @apply text-red;
  }
}

#philosophy {
  p {
    @apply text-white;
    @apply uppercase;
    white-space: break-spaces;
  }
}