@responsive {
  .text {
    &-default {
      font-size: 18px !important;
    }
    &-12px {
      font-size: 12px !important;
    }
    &-14px {
      font-size: 14px !important;
    }
    &-16px {
      font-size: 16px !important;
    }
    &-20px {
      font-size: 20px !important;
    }
    &-22px {
      font-size: 22px !important;
    }
    &-28px {
      font-size: 28px !important;
    }
    &-32px {
      font-size: 32px !important;
    }
    &-42px {
      font-size: 42px !important;
    }
    &-40px {
      font-size: 40px !important;
    }
    &-48px {
      font-size: 48px !important;
    }
    &-52px {
      font-size: 52px !important;
    }
  }
}