@tailwind base;

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}

@tailwind components;
@tailwind utilities;

@import "widget";
@import "homepage";
@import "slick";
@import "text";
@import "logo";
@import "nprogress";
@import "work-card";
@import "hamburger/hamburger";

.menu {
  &-link {
    color: #828282;
    &:hover {
      @apply text-red;
    }
    &--active {
      @apply text-red;
    }
  }
  &-title {
    color: #828282;
  }
}

// fix react slick in flex container
* { min-height: 0; min-width: 0; }